$dkgray: #393c41;
$ltgray: d2d5d3;
$white: #fff;
$orange: #d84927;
$show-home-image: true;
$home-image: url(../img/front-end-developer.jpg);
$background-opacity: 0.85;

@mixin ease-out {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($dkgray, $background-opacity);
      }
    }
  }
}
